.menu-parent{
    position: relative;
    z-index: 3;
}

.menu-div-contain{
    background-color: #887777;
    background-color: #6b5151;
    padding: 10px;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, .15) 0px 0px 10px 10px;
    border-radius: 7px;
    z-index: 2;
    position: absolute;
    width: 185px;
    transform: translateX(-100%);
    margin-left: 40px;
    z-index: 3;
}

.submenu-prof-div{
    margin-top: 5px;
    margin-bottom: 15px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.username-submenu{
    font-family: 'Inter';
    font-weight: 00;
    color: #fff;
    font-size: 15px
}

.contain-flex{
    padding: 5px;
    border-radius: 5px;
}

.contain-flex:hover {
    background-color: #a5a5a56b;
}

.menu-div-flex > * {
    color: #fff;
}

.custom-menu-row-div{
    cursor: pointer;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.cust-parent-div-pfp {
    cursor: pointer;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    gap: -2.5rem;
    margin-left: auto;
}

.cust-pfp-div {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f4f4f5;
    cursor: pointer; 
    border: transparent solid 2px;
    transition: border-radius 0.2s ease-in-out;
}

.cust-profile-pic {
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: transform .2s;
    border-radius: 50%;
}

.cust-pfp-div:hover{
    border-radius: 35%;
}

.cust-pfp-div:hover .cust-profile-pic {
    transform: scale(1.2);
}

.submenu-cust-parent-div-pfp {
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    gap: -2.5rem;
    margin-left: auto;
}

.submenu-cust-pfp-div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f4f4f5;
    cursor: pointer; 
    border: transparent solid 2px;
    transition: border-radius 0.2s ease-in-out;
}

.submenu-cust-profile-pic {
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: transform .2s;
    border-radius: 50%;
}

