.bars-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.bars-actual {
    background-color: #fff;
    border: 1px solid #ccc;
    color: transparent;
}