.test-div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 10px;
    margin-left: 200px;
    margin-right: 200px;
    overflow-x: hidden;
}

.test-again{
    width: 100%;
}

.bars-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.bars-actual {
    background-color: #fff;
    border: 1px solid #ccc;
    color: transparent;
}