.user-posts-container{
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1.5px solid transparent;
    width: 100%;
}

.user-posts-container:hover{
    border: 1.5px solid #4d3939;
}

.div-for-padding{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.split-side-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
}

.bottom-post-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    margin-top: 5px;
    /* margin-bottom: 5px; */
}

.center-row-align{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.left-contain-post{
    padding-right: 5px;
}

.top-level-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.like-counter-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.likes-icon-div-up{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
    margin-bottom: -5px;
}

.likes-icon-div-up:hover, .likes-icon-div-down:hover{
    background-color: #a5a5a56b;
}

/* thumbs-up */
.new-icon-word-div-thumbs-up{
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
    /* margin-bottom: -5px; */
}

.new-icon-word-div-thumbs-up-active{
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
    /* margin-bottom: -5px; */
    background-color: #a5a5a53f;
}

.thumbs-up-icon{
    stroke: #4d3939;
    stroke-width: 0.4;
    color:#4d3939;
    font-style: bold;
    margin-top: 3px;
}

.new-icon-word-div-thumbs-up:hover{
    background-color: #a5a5a53f;
}

.new-icon-word-div-thumbs-up:hover .thumbs-up-icon {
    color: #a9c9a3;
    stroke: #a9c9a3;
}

.thumbs-up-icon-filled-in{
    stroke: #4d3939;
    stroke-width: 0.4;
    color:#4d3939;
    font-style: bold;
    color: #a9c9a3;
    stroke: #a9c9a3;
    margin-top: 3px;
}

/* thumbs-down */
.new-icon-word-div-thumbs-down{
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
    /* margin-bottom: -5px; */
}

.new-icon-word-div-thumbs-down-active{
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0px;
    /* margin-bottom: -5px; */
    background-color: #a5a5a53f;
}

.bubble-animation {
  opacity: 0;
  transform: translateY(20px);
  animation: bubbleFadeIn 0.5s ease forwards;
  transition-delay: 100.2s; /* Add a delay here */
}

@keyframes bubbleFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.thumbs-down-icon{
    stroke: #4d3939;
    stroke-width: 0.4;
    color:#4d3939;
    transform: scaleY(-1);
    font-style: bold;
    margin-top: 3px;
}

.new-icon-word-div-thumbs-down:hover{
    background-color: #a5a5a51f;
}

.new-icon-word-div-thumbs-down:hover .thumbs-down-icon {
    color: #7193ff;
    stroke: #7193ff;
}

.thumbs-down-icon-filled{
    stroke: #4d3939;
    stroke-width: 0.4;
    color:#4d3939;
    font-style: bold;
    color: #7193ff;
    stroke: #7193ff;
    transform: scaleY(-1);
}

/* replies */
.new-icon-word-div-replies{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.replies-icon{
    stroke: #4d3939;
    stroke-width: 0.4;
    color:#4d3939;
    font-size:22px;
    font-style: bold;
}

.new-icon-word-div-replies:hover{
    background-color: rgba(0, 0, 255, 0.11);
}

.new-icon-word-div-replies:hover .replies-icon, .new-icon-word-div-replies:hover .replies-text{
    color: #7193ff;
    stroke: #7193ff;
}

/* repost */
.new-icon-word-div-repost{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.repost-icon{
    stroke: #4d3939;
    stroke-width: 0.4;
    color:#4d3939;
    font-size:22px;
    font-style: bold;
}

.new-icon-word-div-repost:hover{
    background-color: rgba(0, 128, 0, 0.11);
}

.new-icon-word-div-repost:hover .repost-icon, .new-icon-word-div-repost:hover .repost-text{
    color: green;
    stroke: green;
}

.likes-icon-div-down{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -5px;
}

.likes-text{
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 800;
    color: #4d3939;
}

.replies-text{
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 800;
    color: #4d3939;
}

.repost-text{
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 800;
    color: #4d3939;
}

.post-text{
    font-family: 'Inter';
    font-family: "Roboto", sans-serif;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #4d3939;
}

.title-text{
    font-family: 'Inter';
    font-size: 17px;
    font-weight: 600;;
    color: #4d3939;
    margin-bottom: 10px;
}

.top-contain{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    /* gap: 5px; */
}

.left-top-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.username-at{
    color: #414141;
    font-family: 'Inter';
    font-size: 12px;
}

.right-top-div{
    margin-left: auto;
    padding:3px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    /* Add transition for smooth fading effect */
    transition: opacity 0.3s ease;
    /* margin-bottom: -5px; */
}

.right-top-div-new{
    margin-left: auto;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.more-info{
    stroke:#4d3939;
    stroke-width: 0.4;
    color:#4d3939;
    font-size:22px;
    font-style:bold;
    margin:0;
    padding:0;
    margin-top: 3px;
}

.right-top-div:hover{
    background-color: #a5a5a56b;
    background-color: #a5a5a51f;
    background-color: #a5a5a53f;
}

.top-and-text-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.user-posts-container:hover .right-top-div {
    /* Set opacity to 1 on hover to fade it in */
    opacity: 1;
}