.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* height: 100vh; */
  flex-direction: row;
  gap: 10px;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 1000px;
}

.right-side-home, .center-side-home {
  padding: 20px;
}

.left-side-home {
  padding-top: 20px;
}

.center-side-home{
  border-right: #A9C9A3 solid 1px;
  /* color: #fff5d87c; */
  width: max-content;
}