.test{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 94vh;
    align-items: center;
    /* border: 5px red solid; */
    position: static;
    background-color: #6b5151;
    /* margin-left: 350px;
    margin-right: 350px; */
    padding-bottom: 13px;
    padding-top: 6px;
}