/* .extra-contain{
    height: 100vh;
    width: 10px;
} */

.extra-contain {
    /* position: fixed; */ 
    width: min-content;
    position: static;
    background-color: #bdbdbd;
    padding: 10px;
    border-radius: 5px;
  }