
.auth-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
  }

  .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column
  }

  .h3-auth{
    color:#A9C9A3;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 25px;
  }

  .warning-container{
    width: 100%;
    border: #fff solid 1px;
    background-color: transparent;
    margin-top: -20px;
  }

  .password-msg{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    width: 100%;
    padding: 15px;
  }

  .bottom-auth-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .warning-title, .constraints, .OR {
    color: #fff;
  }

  .auth-username-check{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .check-mate{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .other-auth-link{
    color: #ffffffb0;
  }

  .other-auth-link-a-tag{
    color: #A9C9A3 !important;
  }

  .h5-auth{
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 17px;
  }

  .auth-width {
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .auth-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 30px; */
    flex-direction: column;
    width: 100%;
  }

  .auth-btn {
    width: 100%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #6fc261;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 600;
    border-radius: 5px;
    padding: 17px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    outline: none;
    /* border: 1px solid #A9C9A3; */
    background-color: #A9C9A3;
    border: 0;
    transition: background-color 0.3s ease;
  }

  .error-email-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: -25px;
    width: 100%;
  }
  
  .invalid-email-msg {
    color:#ffffff;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .auth-btn:hover{
    background-color: #70836c;
    cursor: pointer;
  }

  .back-btn-contain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    gap: 10px;
  }

  .div-auth{
    margin-top: 15px;
    width: 100%;
  }

  a, a:visited{
    text-decoration: none;
    color: #ccc;
  }

  .home-btn{
    cursor: pointer;
    border-radius: 15%;
    padding: 5px 5px 3px 5px;
    transition: background-color 0.3s ease;
    background-color: #cccccc69;
  }

  .home-btn:hover{
    background-color: #A9C9A3;
    color:#fff;
  }

  .sign-div{
    /* padding: 5px 5px 3px 5px; */
    text-align: center;
  }

  .sign-div:hover{
    background-color: #A9C9A3;
    color:#fff;
  }