.parent-div-pfp {
    cursor: pointer;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    gap: -2.5rem;
    margin-left: auto;
}


.pfp-div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f4f4f5;
    cursor: pointer; 
    border: transparent solid 2px;
    /* outline-offset: 3px;
    outline:2px solid #fff; */
    /* transition: border-radius 0.2s ease-in-out, outline 0.2s ease-in-out; */
    transition: border-radius 0.2s ease-in-out;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: transform .2s;
    border-radius: 50%;
}

.div-for-menu{
    cursor: pointer;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.test{
    background-color: red;
}

/* 
.pfp-div:hover {
    outline:2px solid #fff;
} */

.pfp-div:hover{
    border-radius: 35%;
}

.pfp-div:hover .profile-pic {
    transform: scale(1.2);
}