.footer-container{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 3;
}

.footer-div-color{
    background-color: #4d3939;
}

.footer-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.btns-and-notes-div{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    flex: 1; /* Distribute equal space for each tab */
}

.footer-notes{
    color: silver;
    font-family: 'Inter';
    font-size: 12px;
}

/* .btns-and-notes-div:hover{
    background-color:rgb(119, 113, 113); */
    /* background-color: rgba(255, 0, 0, 0.062);
} */

