.profile-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* //height: 100vh; */
    flex-direction: row;
    gap: 10px;
    margin-left: 400px;
    margin-right: 400px;
    /* //padding-bottom: 1000px; */
  }