@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Noto+Serif+Ottoman+Siyaq&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');

body {
  background-color: #6b5151;


background-color: #977575;
  background-color: #4d3939;
  scroll-behavior: smooth;
}

html, body {
  background-color: #4d3939;
  background-color: #977575;
  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 200px;
  margin-right: 200px; */
}

a, a:visited {
  text-decoration: none;
}
