.fs-contain{
    height: 500px;
    width: 200px;
    overflow-y: scroll;
    overflow-x:hidden;
    padding: 0;
    margin: 0;
    color: #fff;
}

.fs-folders-contain{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
}

.children-contain{
    /* margin-left: 11px; */
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
    border-left: #fff solid 1px;
}

.pfolder-contain{
    width: 100%;
    padding-top: 5px;
    /* padding-bottom: 5px; */
}

.pfolder-contain p, .children-contain p {
    padding: 0px;
    margin: 0px;
    color: #fff;
    margin-left: 5px;
    font-size: 17px;
}

.fs-arrow{
    padding: 5px;
}

.fs-arrow:hover{
    background-color:#A9C9A3;
    cursor: pointer;
}

.children-contain{
    width: 100%;
    margin-left: 17px;
    /* padding-left: 20px; */
    /* padding-top: 5px;
    padding-bottom: 5px; */
}

/* .children-contain:hover{
    background-color:#A9C9A3;
    cursor: pointer;
} */

.fs-arrow{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
}

.children-content{
    /* margin-left: 20px; */
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.children-content:hover{
    background-color:#A9C9A3;
    cursor: pointer;
}