.nav-container {
    /* margin-top: 50px;
    margin-bottom: 50px; */
    background-color: #6b5151;
    background-color: #977575;
    background-color: #A9C9A3;
    background-color: #4d3939;
    padding: 1px;
    /* padding-top: 5px;
    padding-bottom: 5px; */
}

.right-side-nav-in{
    margin-left: auto;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.right-side-nav-out{
    margin-left: auto;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.right-side-nav-in h4, .right-side-nav-out h4 {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Serif Ottoman Siyaq', serif;
    color: #fff;
    padding: 0;
    margin: 0;
    text-decoration: none; 
}

.nav-link-div{
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-link-div:hover{
    background-color: #cccccc34;
    padding: 7px 10px 7px 10px;
}

.nav-link-div-icons{
    /* padding: 7px 10px 7px 10px; */
    padding: 5px 10px 5px 10px;
    /* padding: 2px;
    padding-left: 5px;
    padding-right: 5px; */
    /* margin-left: -3px;
    margin-right: -3px; */
    border-radius: 5px;
    cursor: pointer;
}

.nav-link-div-icons:hover{
    background-color: #cccccc34;
    /* padding: 7px 10px 7px 10px; */
}

.nav-link-div-pp{
    margin: 7px 10px 7px 10px;
    margin-right: 0px;
    border-radius: 5px;
    /* cursor: pointer; */
}

/* .nav-link-div-pp:hover{
    background-color: #cccccc34;
    padding: 7px 10px 7px 10px;
} */

.sign-up {
    /* border: #977575 solid 2px; */
    background-color: #a0a08c;
    background-color: #A9C9A3;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    padding: 1px;
    padding: 7px 10px 7px 10px;
}

.sign-up:hover{
    background-color: #9775756e;
    background-color: #A9C9A3;
    background-color: #a0a08c;
}

.sign-in {
    background-color: #977575;
    color:#fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    padding: 1px;
    padding: 7px 10px 7px 10px;
}

.sign-in:hover{
    background-color: #9775756e;
    /* background-color: #A9C9A3; */
}

.dsa-btn {
    padding-top: 0;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
    outline: none;
    border: 1px solid #a9c9a36b;
    background-color: #a9c9a36b;
    transition: background-color 0.1s ease;
  }

.dsa-btn:hover {
    /* border: 1px solid #4d3939; */
    background-color: #A9C9A3;
    cursor: pointer;
}

.dsa-btn-inside{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
}

.nav-l-r-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.headline {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Permanent Marker', cursive;
    /* font-family: 'Gloria Hallelujah', cursive; */
    color: #fff;
    padding: 0;
    margin: 0;
    text-decoration: none;
    /* font-weight: 600; */
    font-size: 30px;
}

.left-side{
    margin-right: auto;

}

.inside-nav{
    margin-left: 211px;
    margin-right: 211px;
    /* margin-left: 100px;
    margin-right: 100px; */
}

