.nav-container {
    /* margin-top: 50px;
    margin-bottom: 50px; */
    background-color: #6b5151;
    background-color: #977575;
    background-color: #A9C9A3;
    background-color: #4d3939;
    padding: 10px;
}

.right-side h3 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
    text-decoration: none; 
}

.nav-l-r-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.right-side{
    margin-left: auto;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.headline {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-weight: 600;
}

.left-side{
    margin-right: auto;

}

.inside-nav{
    margin-left: 200px;
    margin-right: 200px;
}

