.readme-container{
    /* min-width: 500px;
    width: 500px; */
    color: #adadad75;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.title-of-panel{
    color: #A9C9A3;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 20px;
    border-bottom: #A9C9A3 solid 1px;
}

.title-note{
    padding: 0;
    margin: 0;
}

.tabs-readme-container{
    width: 100%;
    /* background-color: blue; */
}

.section{
    margin-top: 10px;
    background-color: #ccc;
    border-radius: 3px;
    padding: 10px;
    width:98%;
}

.section-div{
    width:100%;
}

.section p{
    color: black;
}

.section-title{
    color: #ccc;
    font-size: 22px;
}