.readme-container{
    /* min-width: 500px;
    width: 500px; */
    color: #adadad75;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    color: black;
    padding-bottom: 150px;
    margin-bottom: 50px;;
    background-color: rgb(255, 255, 255);
    /* background-color: #4d3939; */
    box-shadow: rgba(0, 0, 0, .15) 0px 0px 10px 10px;
    /* width: 800px; */
    width: 100%;
    /* width:inherit; */
    box-sizing: border-box;
}

/* .tes{
    width: 50%;
    box-sizing: border-box;
} */

.testea{
    background-color: red;
    padding: 50px;
}

.te-p{
    flex-basis: calc(50% - 40px);
}

.te{
    /* position: relative; */
    width: 100%;
    height: 100px;
}

.title-of-panel{
    color: #A9C9A3;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: #A9C9A3 solid 1px;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Numans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.divider-home{
    background-color: #f4f4f5;
    height: 1px;
    width:100%;
    margin-bottom:15px;
}

.file-desc{
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Segoe UI';
    font-weight: 300;
    margin-bottom:15px;
    color: #4d3939;
}

.title-note{
    padding: 0;
    margin: 0;
    margin-bottom:15px;
    color: #4d3939;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.tabs-readme-container{
    width: 100%;
    background-color: #4d3939cb;
}

.section{
    margin-top: 10px;
    background-color: #ccc;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    width:100%;
    color: #4d3939;
}

/* .code-container{
    width: 100%;
    height: 250px;
    overflow-y: scroll;
    font-family: 'Inter';
    box-sizing: border-box;
    overflow-x: scroll;
} */

.code-container {
    width: inherit;
    height: 150px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    font-family: 'Inter'; /* This can be adjusted to your preferred font */
  }

.section-div{
    width:100%;
}

.section p{
    color: black;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Inter', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Segoe UIi'; */
    /* font-family: "Roboto", sans-serif; */
    /* font-family: 'R'; */
    /* font-weight: 300;  */
}

.section-title{
    color: #4d3939;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}